.locker-list-row {
	background-color: lightgray;
	border-radius: 20px;
}

.display-table-links {
	display: inline-grid;
	float: left;
	margin-right: 20px;
}

.links-info {
	display: block;
	background-color: green;
}

.display-table-rechts {
	display: inline-block;
	border-radius: 25px;
	margin-right: 20px;
}
